// Colors
$firstWhiteColor: #ffffff;
$secondWhiteColor: #f8f8fb;
$blackColor: #242424;
$greyColor: #e3e3e3;
$blueColor: #575aff;
$orangeColor: #fa6400;
$greyColorText: #5f636a;

// Spacing
$basePadding: 0.5rem;
$baseMargin: 0.25rem;

// Font
$baseFontSizes: 1rem;
